body {
    font-family: 'Droid Sans', sans-serif;
    margin: 0px auto;
    padding: 0;
    font-size: .8em;
}

a { text-decoration: none; }

h1 { margin:0; }

#logo{
    width: 227px;
    height: 31px;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
width:12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
border-radius:10px;
background:rgba(0,0,0,0.1);
-webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background:rgba(255,0,0,0.4);
}

#zoom {
    position: absolute;
    width: 100px;
    height: 100px;		
    background-repeat: no-repeat;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    display: none;
}


#wrapper {
    margin: 0 auto;
    width: 960px;
}

#content {
    text-align: center;
    float: left;
}

#json {
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
    float: right;
}

#json textarea {

    width: 400px;
    height: 322px;
    color: #D5D6E2;
    font-size: 15px;
    border:0;  
    background-color:transparent;  
    resize:none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
}
#view { 
	margin: 30px 0;
	height: 384px;
}

#view img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
    max-width: 400px;
}

#upload {
    float: left;
    margin-right: 10px;
    margin-left: 20px
}

#label_container {
    margin: 30px 0;
    padding-top: 10px
}

#label_container p {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2em
}

#thumbs { 
	position: relative;
	margin: 20px 0;
    width:400px;
}

#nav-left-thumbs { left: 70px; }
	
#nav-right-thumbs {	right: 70px; }

#nav-left-thumbs, #nav-right-thumbs {
    position: absolute;
    top: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
    font-size: 1em;
    font-weight: bold;
    color: #d0d6d6;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition-duration: .5s;
}

#nav-left-thumbs:hover, #nav-right-thumbs:hover {
    background: lightgrey;
}

#pics-thumbs { 
	position: relative;
	padding: 5px 0;
    margin: 0 122px;
    white-space: nowrap;
    overflow: hidden; 
    transition-duration: .8s;
}

#pics-thumbs img {
    padding: 5px;
	margin: 0 2px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    cursor: pointer;
    height: 75px;
    transition-duration: .5s;
}

#camera {
    float:right;
    margin: 35px;
}

#online_img {
    margin: 20px;
}
footer {
    position: relative;
    text-align: center;
    padding: 5px 0;
    background: #fff 5% no-repeat;
}

footer::before { top : 0px; }
footer::after { bottom: 0px; }

footer::before, footer::after {
    content: " ";  
    position: absolute;
    z-index: -10;  		
    left: 5%;				 
    width: 90%;  
    height: 15px;
    border-radius: 125px / 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);  
}
